/* ===MIXINS=== */
/* line 1, scss/_media768.scss */
.wrapper {
  margin: 0 auto;
  width: 728px;
}

/* ===HEADER START=== */
/* line 7, scss/_media768.scss */
.header .logo {
  float: left;
}
/* line 9, scss/_media768.scss */
.header .nav {
  width: auto;
  display: block !important;
  position: static;
}
/* line 11, scss/_media768.scss */
.header .show-nav {
  display: none;
}

/* line 15, scss/_media768.scss */
.list-primary-nav {
  /* for dropdowns */
}
/* line 17, scss/_media768.scss */
.list-primary-nav > li {
  display: inline-block;
}
/* line 19, scss/_media768.scss */
.list-primary-nav > li > a {
  background: none;
  border: 0;
  color: #fff;
}
/* line 22, scss/_media768.scss */
.list-primary-nav li {
  position: relative;
  z-index: 999;
}
/* line 24, scss/_media768.scss */
.list-primary-nav li ul {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
}
/* line 26, scss/_media768.scss */
.list-primary-nav li:hover ul,
.list-primary-nav li:focus ul {
  display: block;
}
/* line 28, scss/_media768.scss */
.list-primary-nav li li a {
  padding: .75em;
  width: 150px;
  text-decoration: none;
}
/* line 31, scss/_media768.scss */
.list-primary-nav li.active li a,
.list-primary-nav li li a:hover,
.list-primary-nav li li a:focus {
  background: #666;
}

/* ===FOOTER START=== */
/* line 39, scss/_media768.scss */
.list-footer-nav li {
  margin-left: 20px;
  float: left;
}
/* line 40, scss/_media768.scss */
.list-footer-nav li:first-child {
  margin-left: 0;
}

/* ===WORDPRESS START=== */
/* line 46, scss/_media768.scss */
.alignleft {
  margin: 0 20px 20px 0;
  float: left;
  clear: both;
}

/* line 47, scss/_media768.scss */
.alignright {
  margin: 0 0 20px 20px;
  float: right;
  clear: both;
}

/* line 50, scss/_media768.scss */
.wp-caption.alignnone,
.wp-caption.alignleft {
  margin-left: -15px;
}

/* line 51, scss/_media768.scss */
.wp-caption.alignright {
  margin-right: -15px;
}
