/* ===MIXINS=== */
/* line 1, scss/_media768.scss */
.wrapper {
  margin: 0 auto;
  width: 728px;
}

/* ===HEADER START=== */
/* line 10, scss/_media768.scss */
.header .logo {
  float: left;
}
/* line 14, scss/_media768.scss */
.header .nav {
  position: static;
  display: block !important;
  width: auto;
}
/* line 20, scss/_media768.scss */
.header .show-nav {
  display: none;
}

/* line 26, scss/_media768.scss */
.list-primary-nav {
  /* for dropdowns */
}
/* line 28, scss/_media768.scss */
.list-primary-nav > li {
  display: inline-block;
}
/* line 32, scss/_media768.scss */
.list-primary-nav > li > a {
  border: 0;
  background: none;
  color: #fff;
}
/* line 39, scss/_media768.scss */
.list-primary-nav li {
  position: relative;
}
/* line 43, scss/_media768.scss */
.list-primary-nav li ul {
  position: absolute;
  left: 0;
  z-index: 10;
  display: none;
  text-align: left;
}
/* line 51, scss/_media768.scss */
.list-primary-nav li:hover ul,
.list-primary-nav li:focus ul {
  display: block;
}
/* line 55, scss/_media768.scss */
.list-primary-nav li li a {
  padding: .75em;
  width: 150px;
  text-decoration: none;
}
/* line 62, scss/_media768.scss */
.list-primary-nav li.active li a,
.list-primary-nav li li a:hover,
.list-primary-nav li li a:focus {
  background: #666;
}

/* ===FOOTER START=== */
/* line 72, scss/_media768.scss */
.list-footer-nav li {
  float: left;
  margin-left: 20px;
}
/* line 76, scss/_media768.scss */
.list-footer-nav li:first-child {
  margin-left: 0;
}

/* ===WORDPRESS START=== */
/* line 84, scss/_media768.scss */
.alignleft {
  float: left;
  clear: both;
  margin: 0 1.5em 1.5em 0;
}

/* line 89, scss/_media768.scss */
.alignright {
  float: right;
  clear: both;
  margin: 0 0 1.5em 1.5em;
}
