/* line 12, scss/base/_html5-reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 18, scss/base/_html5-reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 22, scss/base/_html5-reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 27, scss/base/_html5-reset.scss */
[hidden] {
  display: none;
}

/* line 1, scss/base/_defaults.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 8, scss/base/_defaults.scss */
body {
  margin: 0;
  background: #fff;
  line-height: 1.6;
  color: #4f4f4f;
  font-family: sans-serif;
  -ms-word-wrap: break-all;
  word-wrap: break-all;
  word-wrap: break-word;
  font-size: 1em;
}

/* line 2, scss/base/_typography.scss */
h1,
.heading1 {
  margin: 0 0 0.5em;
  text-transform: none;
  line-height: 1.2em;
  color: #222222;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 2.5em;
}

/* line 13, scss/base/_typography.scss */
h2,
.heading2 {
  margin: 0 0 0.58824em;
  text-transform: none;
  line-height: 1.17647em;
  color: #222222;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 2.125em;
}

/* line 24, scss/base/_typography.scss */
h3,
.heading3 {
  margin: 0 0 0.5em;
  text-transform: none;
  line-height: 1.2em;
  color: #222222;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.25em;
}

/* line 35, scss/base/_typography.scss */
h4,
.heading4 {
  margin: 0 0 0.47619em;
  text-transform: none;
  line-height: 1.2381em;
  color: #222222;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.3125em;
}

/* line 46, scss/base/_typography.scss */
h5,
.heading5,
legend {
  margin: 0 0 0.58824em;
  text-transform: none;
  line-height: 1.41176em;
  color: #222222;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.0625em;
}

/* line 57, scss/base/_typography.scss */
h6,
.heading6 {
  margin: 0 0 0.83333em;
  text-transform: uppercase;
  line-height: 1.33333em;
  color: #222222;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.75em;
}

/* line 72, scss/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

/* line 76, scss/base/_typography.scss */
.hgroup {
  margin-bottom: 20px;
}
/* line 85, scss/base/_typography.scss */
.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4,
.hgroup h5,
.hgroup h6,
.hgroup [class*='heading'] {
  margin: 0;
}

/* line 94, scss/base/_typography.scss */
p,
ul,
ol,
dl,
address {
  margin: 0 0 1.5em;
  padding: 0;
  font-size: 1em;
}

/* line 102, scss/base/_typography.scss */
ul,
ol,
dd {
  margin-left: 1.5em;
}

/* line 107, scss/base/_typography.scss */
li ul,
li ol {
  margin-bottom: 0;
}

/* line 111, scss/base/_typography.scss */
li {
  margin: 0;
  padding: 0;
}

/* line 116, scss/base/_typography.scss */
address {
  font-style: normal;
}

/* line 123, scss/base/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 129, scss/base/_typography.scss */
pre {
  margin: 0 0 1.5em;
  background: #fafafa;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: normal;
}

/* line 138, scss/base/_typography.scss */
small {
  font-size: 85%;
}

/* line 143, scss/base/_typography.scss */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%;
}

/* line 150, scss/base/_typography.scss */
sup {
  top: -.5em;
}

/* line 154, scss/base/_typography.scss */
sub {
  bottom: -.25em;
}

/* line 158, scss/base/_typography.scss */
blockquote {
  display: block;
  margin: 0 0 20px -8px;
  border-left: 4px solid #222222;
  padding-left: 12px;
  overflow: hidden;
  color: #222222;
  font-size: 1.25em;
}
/* line 167, scss/base/_typography.scss */
blockquote p {
  font-size: 1em;
}
/* line 171, scss/base/_typography.scss */
blockquote :last-child {
  margin-bottom: 0;
}

/* line 176, scss/base/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 181, scss/base/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 185, scss/base/_typography.scss */
dfn {
  font-style: italic;
}

/* line 189, scss/base/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 194, scss/base/_typography.scss */
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

/* line 198, scss/base/_typography.scss */
hr {
  display: block;
  clear: both;
  margin: 0 0 1.25em;
  border: 0;
  border-top: 1px solid;
  padding: 0;
  height: 1px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 1, scss/base/_links.scss */
a {
  text-decoration: none;
  color: #4b78fa;
}
/* line 5, scss/base/_links.scss */
a:focus {
  outline: thin dotted;
}
/* line 10, scss/base/_links.scss */
a:active, a:hover {
  outline: 0;
}
/* line 15, scss/base/_links.scss */
a:hover, a:focus {
  text-decoration: underline;
  color: #eb262e;
}

/* line 21, scss/base/_links.scss */
button {
  cursor: pointer;
}

/* line 1, scss/base/_embeded.scss */
img {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
/* line 8, scss/base/_embeded.scss */
.lt-ie9 img {
  width: auto;
}

/* line 13, scss/base/_embeded.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 17, scss/base/_embeded.scss */
figure {
  margin: 0;
}

/* line 21, scss/base/_embeded.scss */
iframe {
  max-width: 100%;
}

/* line 1, scss/base/_forms.scss */
fieldset {
  margin: 0 0 20px;
  border: 0;
  padding: 0;
}

/* line 14, scss/base/_forms.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

/* line 21, scss/base/_forms.scss */
button,
input {
  line-height: normal;
}

/* line 26, scss/base/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 31, scss/base/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 36, scss/base/_forms.scss */
label {
  display: block;
  cursor: pointer;
}
/* line 41, scss/base/_forms.scss */
label .required-true {
  color: #b94a48;
}

/* line 54, scss/base/_forms.scss */
[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
[type=number],
textarea,
select {
  margin-bottom: 0.75em;
  border: 1px solid #eeeeee;
  border-radius: 0;
  background: white;
  padding: 0.625em 0.3125em;
  max-width: 100%;
  font-size: 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 72, scss/base/_forms.scss */
[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
[type=number],
textarea {
  width: 100%;
  max-width: 480px;
  -webkit-appearance: none;
}

/* line 79, scss/base/_forms.scss */
[type=checkbox],
[type=radio] {
  margin: 0 0.625em 0.625em 0;
}
/* line 82, scss/base/_forms.scss */
[type=checkbox] + label,
[type=radio] + label {
  display: inline;
}

/* line 88, scss/base/_forms.scss */
[type=submit],
[type=button] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

/* line 109, scss/base/_forms.scss */
textarea {
  height: 8em;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 1, scss/base/_tables.scss */
table {
  margin-bottom: 1.5em;
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, scss/base/_tables.scss */
th,
td {
  border: 1px solid #eeeeee;
  padding: .5em;
  vertical-align: top;
  font-size: 0.875em;
}

/* line 18, scss/base/_tables.scss */
tr:nth-child(even) td {
  background: #fafafa;
}

/* line 1, scss/base/_buttons.scss */
[class*="ss-button"], [type=submit],
[type=button] {
  display: inline-block;
  position: relative;
  margin-bottom: 1.5em;
  background: #666666;
  cursor: pointer;
  padding: 0.5em 1.375em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  color: white;
  font-size: 1em;
}
/* line 16, scss/base/_buttons.scss */
[class*="ss-button"]:hover, [type=submit]:hover,
[type=button]:hover,
[type=submit]:focus,
[type=button]:focus, [class*="ss-button"]:focus, [type=submit]:focus,
[type=button]:focus {
  background: #78a0ff;
  text-decoration: none;
  color: white;
}
/* line 22, scss/base/_buttons.scss */
[class*="ss-button"]:active, [type=submit]:active,
[type=button]:active {
  background: #436ce0;
}
/* line 27, scss/base/_buttons.scss */
[class*="ss-button"] + [class*="ss-button"], [type=submit] + [class*="ss-button"],
[type=button] + [class*="ss-button"], [class*="ss-button"] + [type=submit], [type=submit] + [type=submit],
[type=button] + [type=submit],
[class*="ss-button"] + [type=button],
[type=submit] + [type=button],
[type=button] + [type=button],
[class*="ss-button"] + [class*="ss-text-button"],
[type=submit] + [class*="ss-text-button"],
[type=button] + [class*="ss-text-button"] {
  margin-left: 10px;
}

/* line 32, scss/base/_buttons.scss */
.ss-button-primary {
  background: #4b78fa;
  color: white;
}

/* line 37, scss/base/_buttons.scss */
.ss-button-secondary {
  background: #78a0ff;
  color: white;
}
/* line 42, scss/base/_buttons.scss */
.ss-button-secondary:hover, .ss-button-secondary:focus {
  background: #666666;
}
/* line 46, scss/base/_buttons.scss */
.ss-button-secondary:active {
  background: #436ce0;
}

/* line 51, scss/base/_buttons.scss */
.ss-button-alt {
  background: #436ce0;
  color: white;
}

/* line 56, scss/base/_buttons.scss */
.ss-button-small {
  font-size: 0.6875em;
}

/* line 60, scss/base/_buttons.scss */
.ss-button-large {
  font-size: 1.125em;
}

/* line 1, scss/base/_buttons.scss */
[class*="ss-button"], [type=submit],
[type=button] {
  display: inline-block;
  position: relative;
  margin-bottom: 1.5em;
  background: #666666;
  cursor: pointer;
  padding: 0.5em 1.375em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  color: white;
  font-size: 1em;
}
/* line 16, scss/base/_buttons.scss */
[class*="ss-button"]:hover, [type=submit]:hover,
[type=button]:hover,
[type=submit]:focus,
[type=button]:focus, [class*="ss-button"]:focus, [type=submit]:focus,
[type=button]:focus {
  background: #78a0ff;
  text-decoration: none;
  color: white;
}
/* line 22, scss/base/_buttons.scss */
[class*="ss-button"]:active, [type=submit]:active,
[type=button]:active {
  background: #436ce0;
}
/* line 27, scss/base/_buttons.scss */
[class*="ss-button"] + [class*="ss-button"], [type=submit] + [class*="ss-button"],
[type=button] + [class*="ss-button"], [class*="ss-button"] + [type=submit], [type=submit] + [type=submit],
[type=button] + [type=submit],
[class*="ss-button"] + [type=button],
[type=submit] + [type=button],
[type=button] + [type=button],
[class*="ss-button"] + [class*="ss-text-button"],
[type=submit] + [class*="ss-text-button"],
[type=button] + [class*="ss-text-button"] {
  margin-left: 10px;
}

/* line 32, scss/base/_buttons.scss */
.ss-button-primary {
  background: #4b78fa;
  color: white;
}

/* line 37, scss/base/_buttons.scss */
.ss-button-secondary {
  background: #78a0ff;
  color: white;
}
/* line 42, scss/base/_buttons.scss */
.ss-button-secondary:hover, .ss-button-secondary:focus {
  background: #666666;
}
/* line 46, scss/base/_buttons.scss */
.ss-button-secondary:active {
  background: #436ce0;
}

/* line 51, scss/base/_buttons.scss */
.ss-button-alt {
  background: #436ce0;
  color: white;
}

/* line 56, scss/base/_buttons.scss */
.ss-button-small {
  font-size: 0.6875em;
}

/* line 60, scss/base/_buttons.scss */
.ss-button-large {
  font-size: 1.125em;
}

/* line 3, scss/base/_alignment.scss */
.alignright,
.alignleft,
.aligncenter {
  clear: both;
  margin: 0 auto 20px;
}
/* line 8, scss/base/_alignment.scss */
.alignright > img,
.alignright > a > img,
.alignleft > img,
.alignleft > a > img,
.aligncenter > img,
.aligncenter > a > img {
  margin: 0 auto;
}

/* line 13, scss/base/_alignment.scss */
.alignnone {
  clear: both;
  margin: 0 0 20px;
}

@media (min-width: 48em) {
  /* line 19, scss/base/_alignment.scss */
  .alignright {
    float: right;
    clear: right;
    margin: 0 0 20px 20px;
  }

  /* line 25, scss/base/_alignment.scss */
  .alignleft {
    float: left;
    clear: left;
    margin: 0 20px 20px 0;
  }

  /* line 34, scss/base/_alignment.scss */
  .alignright > img,
  .alignright > a > img,
  .alignleft > img,
  .alignleft > a > img {
    margin: 0;
  }
}
/* line 1, scss/base/_utility.scss */
.clearfix:after {
  display: table;
  clear: both;
  content: ' ';
}

/* line 9, scss/base/_utility.scss */
.screenreaderonly,
.visually-hidden,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (max-width: 767px) {
  /* line 14, scss/base/_utility.scss */
  .desktop {
    display: none !important;
  }
}
@media (min-width: 48em) {
  /* line 20, scss/base/_utility.scss */
  .mobile {
    display: none !important;
  }
}
/* line 25, scss/base/_utility.scss */
.nowrap {
  white-space: nowrap;
}

/* line 29, scss/base/_utility.scss */
.right {
  float: right;
}

/* line 33, scss/base/_utility.scss */
.left {
  float: left;
}

/* line 37, scss/base/_utility.scss */
.clear {
  clear: both;
}

/* line 41, scss/base/_utility.scss */
.hide {
  display: none;
}

/* line 45, scss/base/_utility.scss */
.ir {
  display: block;
  overflow: hidden;
  text-indent: -999px;
}

/* line 1, scss/layout/_base.scss */
.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1280px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 48em) {
  /* line 1, scss/layout/_base.scss */
  .wrapper {
    padding: 0 20px;
  }
}

/* line 12, scss/layout/_base.scss */
[class*="ss-list"] {
  margin-left: 0;
  list-style: none;
}

/* line 1, scss/layout/_header.scss */
.header {
  position: relative;
  z-index: 10;
  background: #eeeeee;
  padding: 15px 0;
  text-align: center;
}
@media (min-width: 48em) {
  /* line 1, scss/layout/_header.scss */
  .header {
    padding: 40px 0 0;
  }
}

/* line 1, scss/layout/_logo.scss */
.logo {
  width: 150px;
  height: 50px;
}
@media (min-width: 48em) {
  /* line 1, scss/layout/_logo.scss */
  .logo {
    width: 300px;
    height: 100px;
  }
}

/* line 11, scss/layout/_logo.scss */
h1.logo {
  margin: 0 auto 10px;
}
@media (min-width: 48em) {
  /* line 11, scss/layout/_logo.scss */
  h1.logo {
    margin-bottom: 20px;
  }
}

/* line 19, scss/layout/_logo.scss */
a.logo {
  display: block;
  background: url("../images/logo-desktop.png?v1.0") no-repeat;
  background-size: 150px 50px;
}
@media (min-width: 48em) {
  /* line 19, scss/layout/_logo.scss */
  a.logo {
    background-size: 300px 100px;
  }
}

/* line 1, scss/layout/_navigation.scss */
.primary-nav {
  display: none;
}
@media (min-width: 48em) {
  /* line 1, scss/layout/_navigation.scss */
  .primary-nav {
    display: block !important;
  }
}

/* line 9, scss/layout/_navigation.scss */
.show-nav {
  margin: 0;
}
@media (min-width: 48em) {
  /* line 9, scss/layout/_navigation.scss */
  .show-nav {
    display: none;
  }
}

/* line 17, scss/layout/_navigation.scss */
.ss-list-primary-nav {
  text-transform: lowercase;
  font-family: sans-serif;
  font-size: 0.875em;
}
/* line 23, scss/layout/_navigation.scss */
.ss-list-primary-nav ul,
.ss-list-primary-nav li {
  margin: 0;
  list-style: none;
}
/* line 28, scss/layout/_navigation.scss */
.ss-list-primary-nav a {
  display: block;
}
/* line 32, scss/layout/_navigation.scss */
.ss-list-primary-nav ul {
  display: none;
}
/* line 36, scss/layout/_navigation.scss */
.ss-list-primary-nav > li > a {
  border-top: 1px solid #eeeeee;
  padding: 0.71429em 1.07143em;
  text-decoration: none;
}
/* line 44, scss/layout/_navigation.scss */
.ss-list-primary-nav > li.current-menu-item > a,
.ss-list-primary-nav > li.current_page_parent > a,
.ss-list-primary-nav > li.current-menu-ancestor > a {
  font-style: italic;
}

@media (min-width: 48em) {
  /* line 51, scss/layout/_navigation.scss */
  .ss-list-primary-nav > li {
    display: inline-block;
  }
  /* line 54, scss/layout/_navigation.scss */
  .ss-list-primary-nav > li > a {
    border: 0;
  }
  /* line 59, scss/layout/_navigation.scss */
  .ss-list-primary-nav li {
    position: relative;
  }
  /* line 62, scss/layout/_navigation.scss */
  .ss-list-primary-nav li ul {
    display: none;
    position: absolute;
    left: 0;
    z-index: 10;
    text-align: left;
  }
  /* line 70, scss/layout/_navigation.scss */
  .ss-list-primary-nav li li a {
    padding: .75em;
    width: 150px;
    text-decoration: none;
  }
  /* line 78, scss/layout/_navigation.scss */
  .ss-list-primary-nav li:hover ul,
  .ss-list-primary-nav li:focus ul {
    display: block;
    background: #f2f2f2;
  }
}
@media (min-width: 64em) {
  /* line 87, scss/layout/_navigation.scss */
  .ss-list-primary-nav > li > a {
    padding: 0.71429em 2.14286em;
  }
}
/* line 1, scss/layout/_content.scss */
.ss-page-content {
  position: relative;
  clear: both;
  padding-top: 40px;
}

@media (min-width: 48em) {
  /* line 8, scss/layout/_content.scss */
  .has-sidebar .ss-page-main {
    float: left;
    padding-right: 10px;
    width: 67%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 15, scss/layout/_content.scss */
  .ss-page-sidebar {
    float: right;
    padding-left: 10px;
    width: 33%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (min-width: 64em) {
  /* line 24, scss/layout/_content.scss */
  .has-sidebar .ss-page-main {
    width: 75%;
  }

  /* line 28, scss/layout/_content.scss */
  .ss-page-sidebar {
    width: 25%;
  }
}
@media (min-width: 80em) {
  /* line 34, scss/layout/_content.scss */
  .has-sidebar .ss-page-main {
    width: 80%;
  }

  /* line 38, scss/layout/_content.scss */
  .ss-page-sidebar {
    width: 20%;
  }
}
/* line 1, scss/layout/_footer.scss */
.footer {
  position: relative;
  background: #eeeeee;
  padding: 30px 0;
  text-align: center;
}

/* line 9, scss/layout/_footer.scss */
.ss-list-footer-nav ul {
  display: none;
}
/* line 13, scss/layout/_footer.scss */
.ss-list-footer-nav li {
  display: inline-block;
}
/* line 17, scss/layout/_footer.scss */
.ss-list-footer-nav a {
  padding: 0 10px;
}

/* line 22, scss/layout/_footer.scss */
.copyright {
  font-size: 0.75em;
}
/* line 25, scss/layout/_footer.scss */
.copyright a {
  border-bottom: 1px solid;
  text-decoration: none;
  color: #436ce0;
}
/* line 31, scss/layout/_footer.scss */
.copyright a:hover, .copyright a:focus {
  border: 0;
}

/* line 1, scss/layout/_grid.scss */
.ss-grid {
  clear: both;
}
/* line 4, scss/layout/_grid.scss */
.ss-grid > .col {
  margin-bottom: 20px;
}

@media (min-width: 48em) {
  /* line 10, scss/layout/_grid.scss */
  .ss-grid {
    font-size: 0;
  }
  /* line 13, scss/layout/_grid.scss */
  .ss-grid > .col {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    font-size: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 21, scss/layout/_grid.scss */
  .ss-grid > .col-1of2:nth-child(odd) {
    padding-left: 0;
  }
  /* line 25, scss/layout/_grid.scss */
  .ss-grid > .col-1of2:nth-child(even) {
    padding-right: 0;
  }

  /* line 30, scss/layout/_grid.scss */
  .ss-grid-alt {
    overflow: hidden;
  }
  /* line 33, scss/layout/_grid.scss */
  .ss-grid-alt > .col-1of2:nth-child(odd) {
    float: right;
    padding-right: 0;
    padding-left: 10px;
  }
  /* line 39, scss/layout/_grid.scss */
  .ss-grid-alt > .col-1of2:nth-child(even) {
    float: left;
    padding-right: 10px;
    padding-left: 0;
  }

  /* line 46, scss/layout/_grid.scss */
  .col-1of3 {
    width: 33.3%;
  }

  /* line 51, scss/layout/_grid.scss */
  .col-1of4,
  .col-1of2 {
    width: 50%;
  }

  /* line 55, scss/layout/_grid.scss */
  .col-2of3 {
    width: 66.6%;
  }

  /* line 59, scss/layout/_grid.scss */
  .col-3of4 {
    width: 75%;
  }

  /* line 63, scss/layout/_grid.scss */
  .col-2of4 {
    width: 100%;
  }
}
@media (min-width: 64em) {
  /* line 69, scss/layout/_grid.scss */
  .col-1of4 {
    width: 25%;
  }

  /* line 73, scss/layout/_grid.scss */
  .col-2of4 {
    width: 50%;
  }
}
/* line 1, scss/wordpress/_base.scss */
.entry {
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 7, scss/wordpress/_base.scss */
article > header h1 {
  margin-bottom: 10px;
}
/* line 11, scss/wordpress/_base.scss */
article > header p {
  color: #999999;
  font-size: 0.875em;
}
/* line 15, scss/wordpress/_base.scss */
article > header p a {
  color: #999999;
}

/* line 21, scss/wordpress/_base.scss */
.sticky {
  background: #d9edf7;
  padding: 10px;
}

/* line 26, scss/wordpress/_base.scss */
.wp-caption {
  max-width: 100%;
  text-align: center;
}
/* line 30, scss/wordpress/_base.scss */
.wp-caption img {
  margin-bottom: 10px;
}

/* line 36, scss/wordpress/_base.scss */
.gallery-caption,
.wp-caption-text {
  max-height: 3.2em;
  overflow: hidden;
  color: #999999;
  font-size: 0.875em;
}

/* line 43, scss/wordpress/_base.scss */
.gallery-icon img {
  clear: both;
  margin: 0 auto 1.5em;
}

/* line 48, scss/wordpress/_base.scss */
.meta {
  color: #999999;
  font-size: 0.875em;
}
/* line 52, scss/wordpress/_base.scss */
.meta a {
  color: #666666;
}

/* line 57, scss/wordpress/_base.scss */
.page-numbers {
  margin-left: 0;
  list-style: none;
  text-align: center;
  color: #999999;
  font-size: 0.875em;
}
/* line 64, scss/wordpress/_base.scss */
.page-numbers li {
  display: inline-block;
}
/* line 68, scss/wordpress/_base.scss */
.page-numbers a {
  color: #222222;
}
/* line 73, scss/wordpress/_base.scss */
.page-numbers .next,
.page-numbers .prev {
  text-transform: lowercase;
  font-family: sans-serif;
  font-style: italic;
}
/* line 79, scss/wordpress/_base.scss */
.page-numbers .page-numbers {
  padding: 10px;
}

/* line 2, scss/wordpress/_comments.scss */
.ss-list-comments li.comment {
  border: 1px solid #eeeeee;
  background: #fafafa;
  padding: 10px;
}
/* line 8, scss/wordpress/_comments.scss */
.ss-list-comments li.even {
  background: #f2f2f2;
}
/* line 12, scss/wordpress/_comments.scss */
.ss-list-comments li.bypostauthor {
  background: #fcf8e3;
}
/* line 16, scss/wordpress/_comments.scss */
.ss-list-comments ul.children {
  margin: 0 0 0 10px;
  list-style: none;
}

/* line 23, scss/wordpress/_comments.scss */
.post-comment > img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 65px;
}
/* line 29, scss/wordpress/_comments.scss */
.post-comment > div {
  clear: both;
}
/* line 33, scss/wordpress/_comments.scss */
.post-comment > div ul,
.post-comment > div ol {
  margin-bottom: 1.5em;
}
/* line 38, scss/wordpress/_comments.scss */
.post-comment > div li ul,
.post-comment > div li ol {
  margin-bottom: 0;
}
/* line 43, scss/wordpress/_comments.scss */
.post-comment > header h1 {
  margin-bottom: 0;
}

/* line 1, scss/wordpress/_widgets.scss */
.ss-list-widgets {
  margin: 0;
}
/* line 4, scss/wordpress/_widgets.scss */
.ss-list-widgets > li {
  margin-top: 1em;
  border-top: 1px solid #999999;
  padding-top: 1em;
}
/* line 9, scss/wordpress/_widgets.scss */
.ss-list-widgets > li:first-child {
  margin: 0;
  border: 0;
  padding: 0;
}
@media (min-width: 30em) {
  /* line 4, scss/wordpress/_widgets.scss */
  .ss-list-widgets > li {
    float: left;
    width: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 20, scss/wordpress/_widgets.scss */
  .ss-list-widgets > li.widget-2 {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }
  /* line 26, scss/wordpress/_widgets.scss */
  .ss-list-widgets > li.widget-odd {
    clear: left;
    padding-right: 10px;
  }
  /* line 31, scss/wordpress/_widgets.scss */
  .ss-list-widgets > li.widget-even {
    padding-left: 10px;
  }
}
/* line 37, scss/wordpress/_widgets.scss */
.ss-list-widgets ul {
  margin-bottom: 1.5em;
}
/* line 40, scss/wordpress/_widgets.scss */
.ss-list-widgets ul ul {
  margin: 0;
}

@media (min-width: 48em) {
  /* line 48, scss/wordpress/_widgets.scss */
  .ss-list-widgets > li {
    float: none;
    width: 100%;
  }
  /* line 52, scss/wordpress/_widgets.scss */
  .ss-list-widgets > li.widget-2 {
    margin-top: 1em;
    border-top: 1px solid #999999;
    padding-top: 1em;
  }
  /* line 58, scss/wordpress/_widgets.scss */
  .ss-list-widgets > li.widget-odd {
    padding-right: 0;
  }
  /* line 62, scss/wordpress/_widgets.scss */
  .ss-list-widgets > li.widget-even {
    padding-left: 0;
  }
}
/* line 1, scss/wordpress/_gforms.scss */
.validation_message {
  margin-top: -0.72727em;
  text-transform: uppercase;
  color: #b94a48;
  font-size: 0.6875em;
}

/* line 9, scss/wordpress/_gforms.scss */
.validation_error,
#gforms_confirmation_message {
  clear: both;
  margin: 0 0 1em;
  border: 1px solid #3a87ad;
  background: #d9edf7;
  padding: 1em;
  overflow: hidden;
  color: #3a87ad;
}

/* line 19, scss/wordpress/_gforms.scss */
.validation_error {
  border-color: #b94a48;
  background-color: #f2dede;
  color: #b94a48;
}

/* line 25, scss/wordpress/_gforms.scss */
#gforms_confirmation_message {
  border-color: #468847;
  background-color: #dff0d8;
  color: #468847;
}

/* line 31, scss/wordpress/_gforms.scss */
.gform_fields {
  margin: 0;
  list-style: none;
}
/* line 35, scss/wordpress/_gforms.scss */
.gform_fields .gfield {
  text-align: left;
}

/* line 40, scss/wordpress/_gforms.scss */
label .gfield_required {
  color: #eb262e;
}

/* line 45, scss/wordpress/_gforms.scss */
.ginput_container > span {
  display: block;
  margin-bottom: 0.9375em;
}
/* line 49, scss/wordpress/_gforms.scss */
.ginput_container > span > label {
  color: #eeeeee;
  font-weight: normal;
  font-size: 0.75em;
}
/* line 56, scss/wordpress/_gforms.scss */
.ginput_container > span > input,
.ginput_container > span select {
  margin-bottom: 0.25em;
}

/* line 62, scss/wordpress/_gforms.scss */
.gsection {
  padding-top: 40px;
}

/* line 66, scss/wordpress/_gforms.scss */
ul.gfield_checkbox {
  margin-bottom: 1.25em;
  margin-left: 0;
  list-style: none;
}
/* line 71, scss/wordpress/_gforms.scss */
ul.gfield_checkbox label {
  font-weight: normal;
}

@media print {
  /* line 22, scss/style.scss */
  *,
  *:before,
  *:after {
    box-shadow: none !important;
    background: transparent !important;
    text-shadow: none !important;
    color: #000 !important;
  }

  /* line 30, scss/style.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 34, scss/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 38, scss/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 43, scss/style.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: '';
  }

  /* line 48, scss/style.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 53, scss/style.scss */
  thead {
    display: table-header-group;
  }

  /* line 58, scss/style.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 62, scss/style.scss */
  img {
    max-width: 100% !important;
  }

  /* line 68, scss/style.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 74, scss/style.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
