/* ===
Site Skeleton Boiler Plate
Pete Schuster http://peteschuster.com
Version: 2
Credits:
320 and Up - URL: http://stuffandnonsense.co.uk/projects/320andup/
HTML5 Boilerplate - URL: http://h5bp.com/
=== */
/* ===MIXINS=== */
/* ===RESETS=== */
/* line 4, scss/_base.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 5, scss/_base.scss */
body {
  margin: 0;
  font-family: "Noto Serif", serif;
  line-height: 1.6;
  color: #34495e;
  -ms-word-wrap: break-all;
  word-wrap: break-all;
  word-wrap: break-word;
  background: #fff;
}

/* HTML5 Reset */
/* line 10, scss/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 11, scss/_base.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 12, scss/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 13, scss/_base.scss */
[hidden] {
  display: none;
}

/* ===GENERAL FIELDSETS=== */
/* line 17, scss/_base.scss */
fieldset {
  margin: 0 0 20px;
  padding: 0;
  border: 0;
}

/* line 24, scss/_base.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 27, scss/_base.scss */
button,
input {
  line-height: normal;
}

/* line 30, scss/_base.scss */
button,
select {
  text-transform: none;
}

/* line 33, scss/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 35, scss/_base.scss */
label {
  display: block;
  cursor: pointer;
}

/* line 43, scss/_base.scss */
[type=text],
[type=email],
[type=url],
[type=password],
[type=search],
textarea,
select {
  margin-bottom: 0.75em;
  padding: 0.75em;
  width: 100%;
  font-size: 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #95a5a6;
  background-color: #ecf0f1;
  border-radius: 0;
}

/* line 50, scss/_base.scss */
[type=text],
[type=email],
[type=url],
[type=password],
[type=search],
textarea {
  -webkit-appearance: none;
}

/* line 53, scss/_base.scss */
[type=checkbox],
[type=radio] {
  margin: 0 0.375em 0.75em 0;
}

/* line 56, scss/_base.scss */
[type=submit],
[type=button] {
  cursor: pointer;
  -webkit-appearance: none;
  border: 0;
}

/* line 61, scss/_base.scss */
textarea {
  height: 8em;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* ===UI MESSAGES=== */
/* line 65, scss/_base.scss */
[class*=ui-message] {
  margin: 0 0 20px -20px;
  padding: 20px 19px 0;
  width: 100%;
  clear: both;
  background: #eee;
  border: 1px solid #333;
}

/* line 66, scss/_base.scss */
.ui-message-error {
  background-color: #ff9e9e;
  border-color: #cc0000;
}

/* line 67, scss/_base.scss */
.ui-message-alert {
  background-color: #fffe88;
  border-color: #ffba00;
}

/* line 68, scss/_base.scss */
.ui-message-success {
  background-color: #7cc187;
  border-color: #005f10;
}

/* ===GENERAL ELEMENT STYLES=== */
/* line 73, scss/_base.scss */
h1,
.heading1 {
  margin: 0 0 0.55556em;
  font-size: 2.25em;
  line-height: 1.16667em;
  text-transform: none;
  font-weight: bold;
  font-style: none;
  font-family: "Open Sans", sans-serif;
  color: #34495e;
}

/* line 75, scss/_base.scss */
h2,
.heading2 {
  margin: 0 0 0.71429em;
  font-size: 1.75em;
  line-height: 1.28571em;
  text-transform: none;
  font-weight: bold;
  font-style: none;
  font-family: "Open Sans", sans-serif;
  color: #34495e;
}

/* line 77, scss/_base.scss */
h3,
.heading3 {
  margin: 0 0 0.45455em;
  font-size: 1.375em;
  line-height: 1.27273em;
  text-transform: none;
  font-weight: bold;
  font-style: none;
  font-family: "Open Sans", sans-serif;
  color: #34495e;
}

/* line 79, scss/_base.scss */
h4,
.heading4 {
  margin: 0 0 0.45455em;
  font-size: 1.375em;
  line-height: 1.55556em;
  text-transform: none;
  font-weight: normal;
  font-style: italic;
  font-family: "Noto Serif", serif;
  color: #95a5a6;
}

/* line 81, scss/_base.scss */
h5,
.heading5,
legend {
  margin: 0 0 0.625em;
  font-size: 1em;
  line-height: 1.6;
  text-transform: none;
  font-weight: bold;
  font-style: none;
  font-family: "Open Sans", sans-serif;
  color: #34495e;
}

/* line 83, scss/_base.scss */
h6,
.heading6 {
  margin: 0 0 1em;
  font-size: 0.875em;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: normal;
  font-style: none;
  font-family: "Open Sans", sans-serif;
  color: #34495e;
}

/* line 90, scss/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

/* line 93, scss/_base.scss */
.hgroup,
hgroup {
  margin-bottom: 1.25em;
}
/* line 100, scss/_base.scss */
.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4,
.hgroup h5,
.hgroup h6,
.hgroup [class*=heading],
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6,
hgroup [class*=heading] {
  margin: 0;
}

/* line 103, scss/_base.scss */
[class*=heading] {
  display: block;
}

/* line 105, scss/_base.scss */
a {
  text-decoration: underline;
  color: #1abc9c;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
/* line 107, scss/_base.scss */
a:focus {
  outline: thin dotted;
}
/* line 109, scss/_base.scss */
a:active, a:hover {
  outline: 0;
}
/* line 111, scss/_base.scss */
a:hover, a:focus {
  color: #2c3e50;
}

/* line 115, scss/_base.scss */
[class*=button], [type=submit],
[type=button] {
  margin: 0 .5em 1.25em 0;
  padding: .5em 1em;
  display: inline-block;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  font-family: "Open Sans", sans-serif;
  background: #1abc9c;
  color: #34495e;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
}
/* line 118, scss/_base.scss */
[class*=button]:hover, [type=submit]:hover,
[type=button]:hover,
[type=submit]:focus,
[type=button]:focus, [class*=button]:focus, [type=submit]:focus,
[type=button]:focus {
  background: #2c3e50;
  color: #fff;
}

/* line 122, scss/_base.scss */
.button-red, .header [class*=button], .header [type=submit],
.header [type=button] {
  background: #FF4629;
}

/* line 123, scss/_base.scss */
.button-gray {
  background: #ecf0f1;
  color: #34495e;
}

/* line 124, scss/_base.scss */
.button-small {
  font-size: 0.75em;
}

/* line 125, scss/_base.scss */
.button-large {
  font-size: 1.25em;
}

/* line 129, scss/_base.scss */
p,
ul,
ol {
  margin: 0 0 1.5em;
  padding: 0;
  font-size: 1em;
}

/* line 131, scss/_base.scss */
ul,
ol {
  margin-left: 1.5em;
}

/* line 133, scss/_base.scss */
ul ul,
ol ol {
  margin-bottom: 0;
}

/* line 134, scss/_base.scss */
li {
  margin: 0;
  padding: 0;
}

/* line 136, scss/_base.scss */
[class*=list] {
  margin-left: 0;
  list-style: none;
}

/* line 138, scss/_base.scss */
img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: 0;
  display: block;
  -ms-interpolation-mode: bicubic;
}

/* line 139, scss/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 140, scss/_base.scss */
figure {
  margin: 0;
}

/* line 142, scss/_base.scss */
table {
  margin-bottom: 1.125em;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: sans-serif;
  background: #fff;
}

/* line 143, scss/_base.scss */
th, td {
  padding: 1em;
  border: 1px solid #95a5a6;
}

/* line 144, scss/_base.scss */
th {
  font-size: .875em;
  color: #95a5a6;
  background: #34495e;
  border-color: #34495e;
}

/* line 145, scss/_base.scss */
td {
  font-size: .75em;
  vertical-align: top;
}

/* line 150, scss/_base.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 151, scss/_base.scss */
pre {
  margin: 0 1.25em 1.25em;
  padding: 1.25em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #ecf0f1;
}

/* line 152, scss/_base.scss */
small {
  font-size: 85%;
}

/* line 154, scss/_base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 155, scss/_base.scss */
sup {
  top: -0.5em;
}

/* line 156, scss/_base.scss */
sub {
  bottom: -0.25em;
}

/* line 157, scss/_base.scss */
blockquote {
  margin: 0 2em 2em;
  padding: 2em;
  border-left: 1em solid #95a5a6;
  display: block;
  background: #ecf0f1;
  font-style: italic;
  overflow: hidden;
}

/* line 158, scss/_base.scss */
blockquote p {
  font-size: 1em;
}

/* line 159, scss/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 161, scss/_base.scss */
b,
strong {
  font-weight: bold;
}

/* line 162, scss/_base.scss */
dfn {
  font-style: italic;
}

/* line 163, scss/_base.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 164, scss/_base.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 166, scss/_base.scss */
hr {
  margin: 0 0 1.25em;
  padding: 0;
  height: 1px;
  display: block;
  border: 0;
  border-top: 1px solid #95a5a6;
  clear: both;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ===BEGIN STRUCTURE AND CUSTOM ELEMENTS=== */
/* line 4, scss/_media320.scss */
.wrapper {
  margin: 0 20px;
}

/* line 6, scss/_media320.scss */
.content-block {
  padding: 40px 0;
}

/* ===HEADER START=== */
/* line 10, scss/_media320.scss */
.header {
  margin-bottom: 20px;
  padding: 20px 0;
  background: #1abc9c;
  text-align: center;
}
/* line 12, scss/_media320.scss */
.header a {
  color: #34495e;
}
/* line 14, scss/_media320.scss */
.header .nav {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  z-index: 10;
}

/* line 20, scss/_media320.scss */
.show-nav {
  margin-right: 0;
}

/* line 24, scss/_media320.scss */
.list-primary-nav ul, .list-primary-nav li {
  margin: 0;
  list-style: none;
}
/* line 26, scss/_media320.scss */
.list-primary-nav a {
  display: block;
  color: #fff;
  border-bottom: 1px solid #95a5a6;
  background: #34495e;
}
/* line 28, scss/_media320.scss */
.list-primary-nav a:active {
  background: #34495e;
}
/* line 32, scss/_media320.scss */
.list-primary-nav ul {
  display: none;
}
/* line 34, scss/_media320.scss */
.list-primary-nav > li > a {
  padding: .75em 1em;
  text-decoration: none;
}
/* line 38, scss/_media320.scss */
.list-primary-nav > li > a:hover,
.list-primary-nav > li > a:focus,
.list-primary-nav li.active a {
  text-decoration: underline;
}

/* line 42, scss/_media320.scss */
.search {
  position: relative;
  clear: both;
}
/* line 44, scss/_media320.scss */
.search [type=submit] {
  margin: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
}

/* ===CONTENT START=== */
/* line 50, scss/_media320.scss */
.content {
  margin-bottom: 1.25em;
}

/* ===SIDEBAR START=== */
/* ===FOOTER START=== */
/* line 60, scss/_media320.scss */
.footer {
  padding: 1.25em 0;
  background: #34495e;
  color: #fff;
}

/* line 61, scss/_media320.scss */
.footer a {
  color: #fff;
}

/* line 63, scss/_media320.scss */
.back-to-top {
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

/* line 67, scss/_media320.scss */
.list-footer-nav ul {
  display: none;
}

/* ===MEDIA QUERIES START=== */
@media only screen and (min-width: 768px) {
  /* line 1, scss/_media768.scss */
  .wrapper {
    margin: 0 auto;
    width: 728px;
  }

  /* ===HEADER START=== */
  /* line 7, scss/_media768.scss */
  .header .logo {
    float: left;
  }
  /* line 9, scss/_media768.scss */
  .header .nav {
    width: auto;
    display: block !important;
    position: static;
  }
  /* line 11, scss/_media768.scss */
  .header .show-nav {
    display: none;
  }

  /* line 15, scss/_media768.scss */
  .list-primary-nav {
    /* for dropdowns */
  }
  /* line 17, scss/_media768.scss */
  .list-primary-nav > li {
    display: inline-block;
  }
  /* line 19, scss/_media768.scss */
  .list-primary-nav > li > a {
    background: none;
    border: 0;
    color: #fff;
  }
  /* line 22, scss/_media768.scss */
  .list-primary-nav li {
    position: relative;
    z-index: 999;
  }
  /* line 24, scss/_media768.scss */
  .list-primary-nav li ul {
    position: absolute;
    display: none;
    z-index: 999;
    left: 0;
  }
  /* line 26, scss/_media768.scss */
  .list-primary-nav li:hover ul,
  .list-primary-nav li:focus ul {
    display: block;
  }
  /* line 28, scss/_media768.scss */
  .list-primary-nav li li a {
    padding: .75em;
    width: 150px;
    text-decoration: none;
  }
  /* line 31, scss/_media768.scss */
  .list-primary-nav li.active li a,
  .list-primary-nav li li a:hover,
  .list-primary-nav li li a:focus {
    background: #666;
  }

  /* ===FOOTER START=== */
  /* line 39, scss/_media768.scss */
  .list-footer-nav li {
    margin-left: 20px;
    float: left;
  }
  /* line 40, scss/_media768.scss */
  .list-footer-nav li:first-child {
    margin-left: 0;
  }

  /* ===WORDPRESS START=== */
  /* line 46, scss/_media768.scss */
  .alignleft {
    margin: 0 20px 20px 0;
    float: left;
    clear: both;
  }

  /* line 47, scss/_media768.scss */
  .alignright {
    margin: 0 0 20px 20px;
    float: right;
    clear: both;
  }

  /* line 50, scss/_media768.scss */
  .wp-caption.alignnone,
  .wp-caption.alignleft {
    margin-left: -15px;
  }

  /* line 51, scss/_media768.scss */
  .wp-caption.alignright {
    margin-right: -15px;
  }
}
@media only print {
  /* line 31, scss/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 32, scss/style.scss */
  .header, .footer, .sidebar, img, form {
    display: none !important;
  }

  /* line 33, scss/style.scss */
  #container, .content, .content-main {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* line 34, scss/style.scss */
  a {
    text-decoration: underline;
  }

  /* line 35, scss/style.scss */
  pre, blockquote, tr, h2, h3 {
    page-break-inside: avoid;
  }

  /* line 36, scss/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
}
/* ===NON-SEMANTIC HELPER CLASES=== */
/* line 3, scss/_utility.scss */
.right {
  float: right;
}

/* line 4, scss/_utility.scss */
.left {
  float: left;
}

/* line 5, scss/_utility.scss */
.clear {
  clear: both;
}

/* line 6, scss/_utility.scss */
.hide {
  display: none;
}

/* line 7, scss/_utility.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 9, scss/_utility.scss */
.ir, .search [type=submit] {
  display: block;
  text-indent: -999px;
  overflow: hidden;
}

/* ===CLEAR FIX=== */
/* line 13, scss/_utility.scss */
.clearfix:after {
  height: 0;
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}

/* line 14, scss/_utility.scss */
.clearfix {
  display: inline-block;
  zoom: 1;
}

/* line 15, scss/_utility.scss */
.clearfix {
  display: block;
}
