/* ===MIXINS=== */
/* line 2, scss/base/_html5-reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 5, scss/base/_html5-reset.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 8, scss/base/_html5-reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 12, scss/base/_html5-reset.scss */
[hidden] {
  display: none;
}

/* line 1, scss/base/_defaults.scss */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 7, scss/base/_defaults.scss */
body {
  margin: 0;
  background: #fff;
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.6;
  -ms-word-wrap: break-all;
  word-wrap: break-all;
  word-wrap: break-word;
  font-size: 1em;
}

/* line 2, scss/base/_typography.scss */
h1,
.heading1 {
  margin: 0 0 0.41667em;
  color: #222222;
  text-transform: none;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.16667em;
  font-size: 3em;
}
@media (min-width: 30em) {
  /* line 2, scss/base/_typography.scss */
  h1,
  .heading1 {
    margin: 0 0 0.35714em;
    line-height: 1.14286em;
    font-size: 3.5em;
  }
}

/* line 17, scss/base/_typography.scss */
h2,
.heading2 {
  margin: 0 0 0.625em;
  color: #222222;
  text-transform: none;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.25em;
  font-size: 2em;
}
@media (min-width: 30em) {
  /* line 17, scss/base/_typography.scss */
  h2,
  .heading2 {
    margin: 0 0 0.41667em;
    line-height: 1.16667em;
    font-size: 3em;
  }
}

/* line 32, scss/base/_typography.scss */
h3,
.heading3 {
  margin: 0 0 0.35714em;
  color: #222222;
  text-transform: none;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.14286em;
  font-size: 1.75em;
}
@media (min-width: 30em) {
  /* line 32, scss/base/_typography.scss */
  h3,
  .heading3 {
    margin: 0 0 0.3125em;
    line-height: 1.25em;
    font-size: 2em;
  }
}

/* line 47, scss/base/_typography.scss */
h4,
.heading4 {
  margin: 0 0 0.41667em;
  color: #222222;
  text-transform: none;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.5em;
  font-size: 1.5em;
}

/* line 57, scss/base/_typography.scss */
h5,
.heading5,
legend {
  margin: 0 0 0.55556em;
  color: #222222;
  text-transform: none;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.5em;
  font-size: 1.125em;
}

/* line 67, scss/base/_typography.scss */
h6,
.heading6 {
  margin: 0 0 0.71429em;
  color: #222222;
  text-transform: uppercase;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.5em;
  font-size: 0.875em;
}

/* line 82, scss/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

/* line 86, scss/base/_typography.scss */
.hgroup {
  margin-bottom: 1.5em;
}
/* line 94, scss/base/_typography.scss */
.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4,
.hgroup h5,
.hgroup h6,
.hgroup [class*="heading"] {
  margin: 0;
}

/* line 103, scss/base/_typography.scss */
p,
ul,
ol,
dl,
address {
  margin: 0 0 1.5em;
  padding: 0;
  font-size: 1em;
}

/* line 110, scss/base/_typography.scss */
ul,
ol,
dd {
  margin-left: 1.5em;
}

/* line 114, scss/base/_typography.scss */
li ul,
li ol {
  margin-bottom: 0;
}

/* line 117, scss/base/_typography.scss */
li {
  margin: 0;
  padding: 0;
}

/* line 122, scss/base/_typography.scss */
address {
  font-style: normal;
}

/* line 129, scss/base/_typography.scss */
pre,
code,
kbd,
samp {
  font-size: 1em;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
}

/* line 134, scss/base/_typography.scss */
pre {
  margin: 0 0 1.5em;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: normal;
}

/* line 141, scss/base/_typography.scss */
small {
  font-size: 85%;
}

/* line 145, scss/base/_typography.scss */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

/* line 151, scss/base/_typography.scss */
sup {
  top: -0.5em;
}

/* line 154, scss/base/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 157, scss/base/_typography.scss */
blockquote {
  display: block;
  overflow: hidden;
  margin: 0 0 20px -8px;
  padding-left: 12px;
  border-left: 4px solid #222222;
  color: #222222;
  font-size: 1.25em;
}
/* line 165, scss/base/_typography.scss */
blockquote p {
  font-size: 1em;
}
/* line 168, scss/base/_typography.scss */
blockquote :last-child {
  margin-bottom: 0;
}

/* line 172, scss/base/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 176, scss/base/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 179, scss/base/_typography.scss */
dfn {
  font-style: italic;
}

/* line 182, scss/base/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 186, scss/base/_typography.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 190, scss/base/_typography.scss */
hr {
  display: block;
  clear: both;
  margin: 0 0 1.25em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 1, scss/base/_links.scss */
a {
  color: #4b78fa;
  text-decoration: none;
}
/* line 4, scss/base/_links.scss */
a:focus {
  outline: thin dotted;
}
/* line 8, scss/base/_links.scss */
a:active, a:hover {
  outline: 0;
}
/* line 12, scss/base/_links.scss */
a:hover, a:focus {
  color: #eb262e;
  text-decoration: underline;
}

/* line 18, scss/base/_links.scss */
button {
  cursor: pointer;
}

/* line 1, scss/base/_embeded.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 7, scss/base/_embeded.scss */
.lt-ie9 img {
  width: auto;
}

/* line 11, scss/base/_embeded.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 14, scss/base/_embeded.scss */
figure {
  margin: 0;
}

/* line 18, scss/base/_embeded.scss */
iframe {
  max-width: 100%;
}

/* line 1, scss/base/_forms.scss */
fieldset {
  margin: 0 0 20px;
  padding: 0;
  border: 0;
}

/* line 14, scss/base/_forms.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
}

/* line 21, scss/base/_forms.scss */
button,
input {
  line-height: normal;
}

/* line 26, scss/base/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 31, scss/base/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 36, scss/base/_forms.scss */
label {
  display: block;
  cursor: pointer;
  margin-bottom: 0.35714em;
}
/* line 41, scss/base/_forms.scss */
label .required-true {
  color: #b94a48;
}

/* line 53, scss/base/_forms.scss */
[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
textarea,
select {
  margin-bottom: 0.75em;
  max-width: 100%;
  padding: 0.625em 0.3125em;
  border: 1px solid #eeeeee;
  border-radius: 0;
  font-size: 1em;
  background: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 70, scss/base/_forms.scss */
[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
textarea {
  width: 100%;
  -webkit-appearance: none;
}

/* line 76, scss/base/_forms.scss */
[type=checkbox],
[type=radio] {
  margin: 0 0.625em 0.625em 0;
}

/* line 81, scss/base/_forms.scss */
[type=submit],
[type=button] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

/* line 99, scss/base/_forms.scss */
textarea {
  overflow: auto;
  height: 8em;
  vertical-align: top;
  resize: vertical;
}

/* line 1, scss/base/_tables.scss */
table {
  margin-bottom: 1.5em;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}

/* line 8, scss/base/_tables.scss */
th, td {
  padding: .5em;
  vertical-align: top;
  border: 1px solid #eeeeee;
  font-size: 0.875em;
}

/* line 15, scss/base/_tables.scss */
tr:nth-child(even) td {
  background: #fafafa;
}

/* line 1, scss/base/_buttons.scss */
[class*="ss-button"], [type=submit],
[type=button] {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 0.5em 1.375em;
  line-height: 1em;
  background: #666666;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
}
/* line 15, scss/base/_buttons.scss */
[class*="ss-button"]:hover, [type=submit]:hover,
[type=button]:hover,
[type=submit]:focus,
[type=button]:focus, [class*="ss-button"]:focus, [type=submit]:focus,
[type=button]:focus {
  background: #78a0ff;
  text-decoration: none;
  color: white;
}
/* line 20, scss/base/_buttons.scss */
[class*="ss-button"]:active, [type=submit]:active,
[type=button]:active {
  background: #436ce0;
}
/* line 24, scss/base/_buttons.scss */
[class*="ss-button"] + [class*="ss-button"], [type=submit] + [class*="ss-button"],
[type=button] + [class*="ss-button"], [class*="ss-button"] + [type=submit], [type=submit] + [type=submit],
[type=button] + [type=submit],
[class*="ss-button"] + [type=button],
[type=submit] + [type=button],
[type=button] + [type=button],
[class*="ss-button"] + [class*="ss-text-button"],
[type=submit] + [class*="ss-text-button"],
[type=button] + [class*="ss-text-button"] {
  margin-left: .5em;
}

/* line 28, scss/base/_buttons.scss */
.ss-button-primary {
  color: white;
  background: #4b78fa;
}

/* line 32, scss/base/_buttons.scss */
.ss-button-secondary {
  color: white;
  background: #78a0ff;
}
/* line 36, scss/base/_buttons.scss */
.ss-button-secondary:hover, .ss-button-secondary:focus {
  background: #666666;
}
/* line 39, scss/base/_buttons.scss */
.ss-button-secondary:active {
  background: #436ce0;
}

/* line 43, scss/base/_buttons.scss */
.ss-button-alt {
  color: white;
  background: #436ce0;
}

/* line 47, scss/base/_buttons.scss */
.ss-button-small {
  font-size: 0.6875em;
}

/* line 50, scss/base/_buttons.scss */
.ss-button-large {
  font-size: 1.125em;
}

/* line 55, scss/base/_buttons.scss */
[class*="ss-text-button"] {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 0.5em 0;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background: 0;
  border: 0;
  color: #4b78fa;
  font-size: 1em;
}
/* line 71, scss/base/_buttons.scss */
[class*="ss-text-button"]:hover, [class*="ss-text-button"]:focus, [class*="ss-text-button"]:active {
  text-decoration: none;
}
/* line 75, scss/base/_buttons.scss */
[class*="ss-text-button"] + [class*="ss-button"], [class*="ss-text-button"] + [type=submit],
[class*="ss-text-button"] + [type=button],
[class*="ss-text-button"] + [class*="ss-text-button"] {
  margin-left: .5em;
}

/* line 79, scss/base/_buttons.scss */
.ss-text-button-small {
  font-size: 0.6875em;
}

/* line 82, scss/base/_buttons.scss */
.ss-text-button-large {
  font-size: 1.125em;
}

/* line 2, scss/base/_utility.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 6, scss/base/_utility.scss */
.clearfix:after {
  clear: both;
}

/* line 12, scss/base/_utility.scss */
.screenreaderonly,
.visually-hidden,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (max-width: 767px) {
  /* line 17, scss/base/_utility.scss */
  .desktop {
    display: none;
  }
}
@media (min-width: 48em) {
  /* line 22, scss/base/_utility.scss */
  .mobile {
    display: none;
  }
}
/* line 27, scss/base/_utility.scss */
.nowrap {
  white-space: nowrap;
}

/* line 30, scss/base/_utility.scss */
.right {
  float: right;
}

/* line 33, scss/base/_utility.scss */
.left {
  float: left;
}

/* line 36, scss/base/_utility.scss */
.clear {
  clear: both;
}

/* line 39, scss/base/_utility.scss */
.hide {
  display: none;
}

/* line 42, scss/base/_utility.scss */
.ir {
  display: block;
  overflow: hidden;
  text-indent: -999px;
}

/* line 5, scss/wysiwyg.scss */
body {
  padding: 15px !important;
  background: none;
}
