/*doc
---
title: Base CSS Tests
name: 1-base-test-css
category: Tests
---

## Base CSS Tests

<h1>Elements</h1>

<hr />

<h2>Headings</h2>
<h1>Header one</h1>
<h2>Header two</h2>
<h3>Header three</h3>
<h4>Header four</h4>
<h5>Header five</h5>
<h6>Header six</h6>

<hr />

<h2>Heading Group</h2>

<div class="hgroup">
    <h1>Header one</h1>
    <h2>Header two</h2>
</div>
<div class="hgroup">
    <h3>Header three</h3>
    <h4>Header four</h4>
</div>
<div class="hgroup">
    <h5>Header five</h5>
    <h6>Header six</h6>
</div>

<hr />

<h2>Blockquotes</h2>

<p>Single line blockquote:</p>

<blockquote><p>Stay hungry. Stay foolish.</p></blockquote>

<p>Multi line blockquote with a cite reference:</p>

<blockquote><p>People think focus means saying yes to the thing you've got to focus on. But that's not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I'm actually as proud of the things we haven't done as the things I have done. Innovation is saying no to 1,000 things. <cite>Steve Jobs - Apple Worldwide Developers' Conference, 1997</cite></p></blockquote>

<hr />

<h2>Tables</h2>
<table>
    <tbody>
        <tr>
            <th>Employee</th>
            <th class="views">Salary</th>
            <th></th>
        </tr>
        <tr class="odd">
            <td><a href="http://john.do/">John Saddington</a></td>
            <td>$1</td>
            <td>Because that's all Steve Job' needed for a salary.</td>
        </tr>
        <tr class="even">
            <td><a href="http://tommcfarlin.com/">Tom McFarlin</a></td>
            <td>$100K</td>
            <td>For all the blogging he does.</td>
        </tr>
        <tr class="odd">
            <td><a href="http://jarederickson.com/">Jared Erickson</a></td>
            <td>$100M</td>
            <td>Pictures are worth a thousand words, right? So Tom x 1,000.</td>
        </tr>
        <tr class="even">
            <td><a href="http://chrisam.es/">Chris Ames</a></td>
            <td>$100B</td>
            <td>With hair like that?! Enough said...</td>
        </tr>
    </tbody>
</table>

<hr />

<h2>Definition Lists</h2>
<dl>
    <dt>Definition List Title</dt>
        <dd>Definition list division.</dd>
    <dt>Startup</dt>
        <dd>A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.</dd>
    <dt>#dowork</dt>
        <dd>Coined by Rob Dyrdek and his personal body guard Christopher "Big Black" Boykins, "Do Work" works as a self motivator, to motivating your friends.</dd>
    <dt>Do It Live</dt>
        <dd>I'll let Bill O'Reilly will <a title="We'll Do It Live" href="https://www.youtube.com/watch?v=O_HyZ5aW76c">explain</a> this one.</dd>
</dl>

<hr />

<h2>Unordered Lists (Nested)</h2>
<ul>
    <li>List item one
<ul>
    <li>List item one
<ul>
    <li>List item one</li>
    <li>List item two</li>
    <li>List item three</li>
    <li>List item four</li>
</ul>
</li>
    <li>List item two</li>
    <li>List item three</li>
    <li>List item four</li>
</ul>
</li>
    <li>List item two</li>
    <li>List item three</li>
    <li>List item four</li>
</ul>

<hr />

<h2>Ordered List (Nested)</h2>
<ol>
    <li>List item one
<ol>
    <li>List item one
<ol>
    <li>List item one</li>
    <li>List item two</li>
    <li>List item three</li>
    <li>List item four</li>
</ol>
</li>
    <li>List item two</li>
    <li>List item three</li>
    <li>List item four</li>
</ol>
</li>
    <li>List item two</li>
    <li>List item three</li>
    <li>List item four</li>
</ol>

<h2>List Nesting</h2>

<h3>Ordered - Unordered - Ordered</h3>
<ol>
    <li>ordered item</li>
    <li>ordered item
        <ul>
            <li><strong>unordered</strong></li>
            <li><strong>unordered</strong>
                <ol>
                    <li>ordered item</li>
                    <li>ordered item</li>
                </ol>
            </li>
        </ul>
    </li>
    <li>ordered item</li>
    <li>ordered item</li>
</ol>

<h3>Ordered - Unordered - Unordered</h3>
<ol>
    <li>ordered item</li>
    <li>ordered item
        <ul>
            <li><strong>unordered</strong></li>
            <li><strong>unordered</strong>
                <ul>
                    <li>unordered item</li>
                    <li>unordered item</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>ordered item</li>
    <li>ordered item</li>
</ol>

<h3>Unordered - Ordered - Unordered</h3>
<ul>
    <li>unordered item</li>
    <li>unordered item
        <ol>
            <li>ordered</li>
            <li>ordered
                <ul>
                    <li>unordered item</li>
                    <li>unordered item</li>
                </ul>
            </li>
        </ol>
    </li>
    <li>unordered item</li>
    <li>unordered item</li>
</ul>

<h3>Unordered - Unordered - Ordered</h3>
<ul>
    <li>unordered item</li>
    <li>unordered item
        <ul>
            <li>unordered</li>
            <li>unordered
                <ol>
                    <li><strong>ordered item</strong></li>
                    <li><strong>ordered item</strong></li>
                </ol>
            </li>
        </ul>
    </li>
    <li>unordered item</li>
    <li>unordered item</li>
</ul>

<hr />

<h2>HTML Tags</h2>

<p><strong>Address Tag</strong></p>
<address>1 Infinite Loop<br>
Cupertino, CA 95014<br>
United States</address>

<p><strong>Anchor Tag (aka. Link)</strong></p>
<p>This is an example of a <a title="Apple" href="http://apple.com">link</a>.</p>

<p><strong>Abbreviation Tag</strong></p>
<p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for "seriously".</p>

<p><strong>Acronym Tag</strong></p>
<p>The acronym <acronym title="For The Win">ftw</acronym> stands for "for the win".</p>

<p><strong>Big Tag</strong></p>
<p>These tests are a <big>big</big> deal, but this tag is no longer supported in HTML5.</p>

<p><strong>Cite Tag</strong></p>
<p>"Code is poetry." -<cite>Automattic</cite></p>

<p><strong>Code Tag</strong></p>
<p>You will learn later on in these tests that <code>word-wrap: break-word;</code> will be your best friend.</p>

<p><strong>Delete Tag</strong></p>
<p>This tag will let you <del>strikeout text</del>, but this tag is no longer supported in HTML5 (use the <code>&lt;strike&gt;</code> instead).</p>

<p><strong>Emphasize Tag</strong></p>
<p>The emphasize tag should <em>italicize</em> text.</p>

<p><strong>Insert Tag</strong></p>
<p>This tag should denote <ins>inserted</ins> text.</p>

<p><strong>Keyboard Tag</strong></p>
<p>This scarsly known tag emulates <kbd>keyboard text</kbd>, which is usually styled like the <code>&lt;code&gt;</code> tag.</p>

<p><strong>Preformatted Tag</strong></p>
<p>This tag styles large blocks of code.</p>
<pre>.post-title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;
}</pre>

<p><strong>Quote Tag</strong></p>
<p><q>Developers, developers, developers...</q> -Steve Ballmer</p>

<p><strong>Strong Tag</strong></p>
<p>This tag shows <strong>bold<strong> text.</strong></strong></p>

<p><strong>Subscript Tag</strong></p>
<p>Getting our science styling on with H<sub>2</sub>O, which should push the "2" down.</p>

<p><strong>Superscript Tag</strong></p>
<p>Still sticking with science and Isaac Newton's E = MC<sup>2</sup>, which should lift the 2 up.</p>

<p><strong>Teletype Tag</strong></p>
<p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the <code>&lt;code&gt;</code> tag.</p>

<p><strong>Variable Tag</strong></p>
<p>This allows you to denote <var>variables</var>.</p>

<form>
    <fieldset>
        <legend>Legend</legend>

        <label for="text">Text Input <abbr title="Required">*</abbr></label>
        <input id="text" type="text">

        <label for="password">Password</label>
        <input id="password" type="password">

        <label for="web_address">Web Address</label>
        <input id="web_address" type="url">

        <label for="email">Email Address</label>
        <input id="email" type="email">

        <label for="search">Search</label>
        <input id="search" type="search"><input id="password" type="submit" class="search">

        <label for="textarea">Textarea</label>
        <textarea id="textarea" rows="8" cols="48"></textarea>

        <label for="checkbox">Single Checkbox</label>
        <label for="checkbox" class="check"><input id="checkbox" type="checkbox" class="checkbox">Label</label>

        <label for="select">Select</label>
        <select id="select">
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>

        <fieldset class="options">
            <legend>Checkbox <abbr title="Required">*</abbr></legend>
            <label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked">Choice A</label>
            <label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox">Choice B</label>
            <label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox">Choice C</label>
        </fieldset>

        <fieldset class="options">
            <legend>Radio</legend>
            <label for="radio1"><input id="radio1" name="radio" type="radio" class="radio" checked="checked">Option 1</label>
            <label for="radio2"><input id="radio2" name="radio" type="radio" class="radio">Option 2</label>
        </fieldset>

        <input type="submit" value="Post Comment">
        <input type="button" value="Preview">
        <a href="##">Cancel</a>

    </fieldset>
</form>

*/
