.ss-list-comments {
  li.comment {
    border: 1px solid $grey-light;
    background: $grey-lightest;
    padding: 10px;
  }

  li.even {
    background: $grey-lighter;
  }

  li.bypostauthor {
    background: $ui-yellow-light;
  }

  ul.children {
    margin: 0 0 0 10px;
    list-style: none;
  }
}

.post-comment {
  > img {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 65px;
  }

  > div {
    clear: both;

    ul,
    ol {
      margin-bottom: 1.5em;
    }

    li ul,
    li ol {
      margin-bottom: 0;
    }
  }

  > header h1 {
    margin-bottom: 0;
  }
}
