[class*="ss-page-content"] {
  position: relative;
  clear: both;
  padding-top: 40px;
}

.ss-page-content--has-aside .ss-page-main {
  @include respond-to(768) {
    float: left;
    padding-right: 10px;
    width: 67%;
    @include box-sizing;
  }

  @include respond-to(1024) {
    width: 75%;
  }

  @include respond-to(1280) {
    width: 80%;
  }
}
