
/* ===RESETS=== */

* 	{ margin: 0; padding: 0; border: none; outline: none; }

html	{ font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body 	{ font-family: Arial, sans-serif; background: #fff; color: #333; @include wordBreak(); }

/* ===HTML5 RESETS=== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* ===GENERAL FIELDSETS=== */

label,
legend 						{ font-size: .875em; line-height: 2em; display: block; cursor: pointer; }
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
input[type=file],
textarea,
select 						{ margin-bottom: .75em; padding: .5em 1em; width: 180px; max-width: 100%; border: 1px solid #666; -webkit-appearance: none; background-color: #fff; font-size: .75em; color: #000; }
input[type=submit],
input[type=button] 			{ padding: .5em 1em; background: #666; border: none; color: #fff; cursor: pointer; -webkit-appearance: none; }
input[type=submit]:hover,
input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:focus	{ background: #333; }
textarea 					{ width: 220px; height: 8em; max-width: 100%; font-family: Arial, Helvetica, sans-serif; overflow: auto; vertical-align: top; resize: vertical; }

fieldset 	{ margin-bottom: 10px;

	em 		{ display: block; font-size: .688em; }
	div 	{ margin-bottom: 10px; }
	ul,
	ul li 	{ margin: 0; list-style: none; font-size: 1em; }

}

/* ===GENERAL ELEMENT STYLES=== */

h1,
.heading1 	{ margin-bottom: 20 / 36 * 1em; font-size: 36 / 16 * 1em; line-height: 42 / 36 * 1em; text-transform: none; font-weight: bold; }
h2,
.heading2 	{ margin-bottom: 20 / 24 * 1em; font-size: 24 / 16 * 1em; line-height: 32 / 24 * 1em; text-transform: none; font-weight: bold; }
h3,
.heading3 	{ margin-bottom: 10 / 18 * 1em; font-size: 18 / 16 * 1em; line-height: 24 / 18 * 1em; text-transform: none; font-weight: bold; }
h4,
.heading4 	{ margin-bottom: 10 / 14 * 1em; font-size: 14 / 16 * 1em; line-height: 16 / 14 * 1em; text-transform: none; font-weight: bold; }
h5,
.heading5 	{ margin-bottom: 10 / 12 * 1em; font-size: 12 / 16 * 1em; line-height: 1em; text-transform: none; font-weight: bold; }
h6,
.heading6 	{ margin-bottom: 1em; font-size: 10 / 16 * 1em; line-height: 20 / 10 * 1em; text-transform: uppercase; font-weight: normal; }

hgroup { margin-bottom: 20 / 16 * 1em;
	h1,
	.heading1,
	h2,
	.heading2,
	h3,
	.heading3,
	h4,
	.heading4,
	h5,
	.heading5,
	h6,
	.heading6	{ margin: 0; }
}

[class*=heading]	{ display: block; }

a 			{ text-decoration: none; color: #4b64f5; @include transition( color, .2 ); }
a:hover,
a:focus 	{ text-decoration: underline; color: #3c50c2; }
a:focus 	{ outline: thin dotted; }
a:active 	{ color: #f5644b; }

[class*=button]		{ margin-bottom: 1.125em; padding: .5em 1em; display: inline-block; font-size: .875em; background: #333; color: #fff; text-decoration: none; border-radius: 5px; cursor: pointer; }
	
	&:hover,
	&:focus		{ background: #666; }

	[class*=button] + [class*=button] { margin-left: 1em; }

}

[class*=icon] 	{}

[class*=ui_message]	{ margin: 0 0 15px -15px; padding: 15px 15px 0; width: 100%; clear: both; background: #eee; border: 1px solid #333; }

.ui_error 	{ background-color: #ff9e9e; border-color: #cc0000; }
.ui_alert 	{ background-color: #fffe88; border-color: #ffba00; }
.ui_success	{ background-color: #7cc187; border-color: #005f10; }

p,
ul,
ol,
dl,
address	{ margin-bottom: 21 / 14 * 1em; line-height: 21 / 14 * 1em; font-size: .875em; }
ul,
ul li,
ol,
ol li,
dd		{ margin-left: 21 / 14 * 1em; }
ul ul,
ol ol 	{ margin: 0; font-size: 1em; }

[class*=list_] 	{ margin-left: 0; list-style: none;
	
	> li 	{ margin-left: 0; list-style: none; }

}

img	{ max-width: 100%; height: auto; display: block; -ms-interpolation-mode: bicubic; }

.alignleft,
.alignright,
.aligncenter,
.gallery-icon img	{ margin: 0 auto 20px; clear: both; }
.alignnone			{ margin-bottom: 20px; clear: both; }

.wp-caption 		{ padding: 15px 10px 0; max-width: 100% !important; height: auto !important; background: rgba(0,0,0,.07); overflow: hidden; }

.gallery 	{ margin: 0 0 20px -20px !important; padding: 20px; width: 100%; background: rgba(0,0,0,.07);

	dl 	{ font-size: 1em; }

}

.wp-caption img		{ margin: 0 auto 10px; }
.wp-caption-text	{ text-align: center; font-size: .75em; line-height: 1.5em; }

figure 			{ margin-bottom: .625em; padding: 2px; max-width: 100%!important; height: auto!important; background: #eee; border: 1px solid #999; display: inline-block; }
figure img,
figure object,
figure embed,	
figcaption		{ margin-bottom: .625em; max-width: 100%; height: auto; display: block; }
figcaption p	{ display: block; text-align: center; font-size: .688em; color: #666; font-style: italic; }

table 	{ margin-bottom: 1.125em; border-collapse: collapse; border-spacing: 0; border-top: 1px solid #666; border-left: 1px solid #666; }
th		{ padding: 1em; font-size: .875em; color: #fff; background: #333; border-right: 1px solid #666; border-bottom: 1px solid #666; }
td 		{ padding: 1em; font-size: .75em; vertical-align: top; border-right: 1px solid #666; border-bottom: 1px solid #666; }

pre,
code,
kbd,
samp 			{ font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre 			{ margin: 0 1.25em 1.25em; padding: 1.25em; white-space: pre; white-space: pre-wrap; word-wrap: break-word; background: #333; color: #fff; }
small 			{ font-size: 85%; }
sub,
sup 			{ font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup 			{ top: -0.5em; }
sub 			{ bottom: -0.25em; }
blockquote 		{ margin: 0 1.125em 1.125em; padding: 1.125em 1.125em 0; border-left: .25em solid #666; display: block; background: #eee; font-style: italic; overflow: hidden; }
blockquote p	{ font-size: 1em; }

hr 	{ margin: 0 0 1.25em; padding: 0; height: 1px; display: block; border: 0; border-top: 1px solid #ccc; clear: both; }