// ==========================================================================
// complete color palette
// ==========================================================================

//brand colors
$blueLight:         #78a0ff !default;
$blue:              #4b78fa !default;
$blueDark:          #436ce0 !default;
$red:               #eb262e !default;
$green:             #00a555 !default;

//greys
$greyWhite:         #fff !default;
$greyLightest:      #fafafa !default;
$greyLighter:       #f2f2f2 !default;
$greyLight:         #eee !default;
$grey:              #999 !default;
$greyDark:          #666 !default;
$greyDarker:        #4f4f4f !default;
$greyBlack:         #222 !default;

// system colors
$ui-yellow:         #c09853 !default;
$ui-yellowLight:    #fcf8e3 !default;
$ui-red:            #b94a48 !default;
$ui-redLight:       #f2dede !default;
$ui-green:          #468847 !default;
$ui-greenLight:     #dff0d8 !default;
$ui-blue:           #3a87ad !default;
$ui-blueLight:      #d9edf7 !default;

// social colors
$facebook-blue:     #3b5998 !default;
$twitter-blue:      #00aced !default;
$youtube-red:       #bb0000 !default;
$pinterest-red:     #cb2027 !default;
$google-plus-red:   #dd4b39 !default;

// ==========================================================================
// functional color palette
// ==========================================================================

// general
$text-color:                 $greyDarker !default;
$light-text-color:           $grey !default;
$reversed-text-color:        $greyWhite !default;
$link-color:                 $blue !default;
$link-hover-color:           $red !default;

// color degrees
$primary:                           $blue !default;
$secondary:                         $blueLight !default;
$alt:                               $blueDark !default;

// buttons
$button-text-color:                 $greyWhite !default;
$button-background-color:           $greyDark !default;
//Primary
$buttonPrimary-text-color:          $greyWhite !default;
$buttonPrimary-background-color:    $primary !default;
//Secondary
$buttonSecondary-text-color:        $greyWhite !default;
$buttonSecondary-background-color:  $secondary !default;
//Alt
$buttonAlt-text-color:              $greyWhite !default;
$buttonAlt-background-color:        $alt !default;

// headings
$heading-color-1:          $greyBlack !default;
$heading-color-2:          $greyBlack !default;
$heading-color-3:          $greyBlack !default;
$heading-color-4:          $greyBlack !default;
$heading-color-5:          $greyBlack !default;
$heading-color-6:          $greyBlack !default;

// messages
$warning-color:             $ui-yellow !default;
$warning-bg-color:          $ui-yellowLight !default;
$error-color:               $ui-red !default;
$error-bg-color:            $ui-redLight !default;
$success-color:             $ui-green !default;
$success-bg-color:          $ui-greenLight !default;
$info-color:                $ui-blue !default;
$info-bg-color:             $ui-blueLight !default;

// ==========================================================================
// font stacks
// ==========================================================================

$base-font-size:            16 !default;
$primary-font-stack:        sans-serif !default;
$secondary-font-stack:      sans-serif !default;