
/* ===BEGIN STRUCTURE AND CUSTOM ELEMENTS=== */

.wrapper 		{ margin: 0 20px; }

.content-block { padding: 2em 0; }

/* ===HEADER START=== */

.header 	{ padding: 1.5em 0; background: $accent; text-align: center;

  a { color: $baseDark; }

	.nav 	{ width: 100%; display: none; position: absolute; left: 0; z-index: 10; }

  [class*=button] { @extend .button-red; }

}

.show-nav { margin-right: 0; }

.list-primary-nav 	{

  ul, li { margin: 0; list-style: none; }

	a 	{ display: block; color: #fff; border-bottom: 1px solid $borderColor; background: $baseDark;

    &:active { background: $baseDark; }

  }

  ul { display: none; }

	> li > a 	{ padding: .75em 1em; text-decoration: none; }

	> li > a:hover,
	> li > a:focus,
	li.active a { text-decoration: underline; }

}

.search { position: relative; clear: both;

  [type=search],
  [type=text] { margin: 0; }

  [type=submit] { margin: 0; position: absolute; top: 0; right: 0; bottom: 0; }

}

/* ===CONTENT START=== */

.content 	{ margin-bottom: 1.25em; }


/* ===FOOTER START=== */

.footer   { padding: 1.25em 0; background: $textColor; color: #fff; }
.footer a { color: #fff; }

.back-to-top { margin-bottom: 20px; text-align: center; display: block; }

.list-footer-nav {

  ul  { display: none; }

}