/* ===NON-SEMANTIC HELPER CLASES=== */

.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

.ir {
    display: block;
    overflow: hidden;
    text-indent: -999px;
}

/* ===CLEAR FIX=== */

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}
.clearfix {
    display: inline-block;
    zoom: 1;
}
.clearfix {
    display: block;
}