.validation_message 	{ margin-top: -8px; text-transform: uppercase; color: #ff0000; font-size: 12 / 16 * 1em; }

.validation_error,
#gforms_confirmation_message 	{ margin: 0 0 1em -1em; padding: 1em; width: 100%; overflow: hidden; color: #fff; clear: both; background: #eee; border: 1px solid #333; }
.validation_error 						{ background-color: #ff9e9e; border-color: #cc0000; }
#gforms_confirmation_message	{ background-color: #7cc187; border-color: #005f10; }

/* ===CONTENT START=== */

.post-comment 	{

	> img 	{ margin-right: 20px; max-width: 65px; float: left; }

	> div 	{ padding-top: 10px; overflow: hidden; }

	p.right 	{ margin: 0; }

}

.list-comments 	{ font-size: 1em;

	li.comment 	{ margin-left: -20px; padding: 20px; width: 100%; background: rgba(0,0,0,.07); }

	li.thread-even 	{ background: rgba(0,0,0,.04); }

	li.bypostauthor { background: #faf7c2; }

	ul.children { margin: 20px 20px 0 40px; }

}

.entry	{ border-bottom: 1px solid $borderColor; }

.bypostauthor { background: $accent; }

.sticky { background: $objectColor; }

.gallery-caption,
.wp-caption-text { max-height: 3.2em; overflow: hidden; }
.gallery-icon img { margin: 0 auto 10px; }

/* ===SIDEBAR START=== */

.list-widgets 	{ margin: 0; font-size: 1em;

	> li 	{ margin-top: 1em; padding-top: 1em; border-top: 1px solid #e1e1e1; }
	> li:first-child 	{ margin: 0; padding: 0; border: 0; }

	ul		{ margin-bottom: 20 / 14 * 1em; font-size: .875em; }
	ul ul	{ margin: 0; font-size: 1em; }

}

.alignleft,
.alignright,
.aligncenter,
.gallery-icon img	{ margin: 0 auto 1.5em; clear: both; }
.alignnone			{ margin-bottom: 1.5em; clear: both; }

.wp-caption { max-width: 100%; }