.entry {
  margin-bottom: 20px;
  overflow: hidden;
}

article > header {
  h1 {
    margin-bottom: 10px;
  }

  p {
    color: $grey;
    @include font-size(14);

    a {
      color: $grey;
    }
  }
}

.sticky {
  background: $ui-blue-light;
  padding: 10px;
}

.wp-caption {
  max-width: 100%;
  text-align: center;

  img {
    margin-bottom: 10px;
  }
}

.gallery-caption,
.wp-caption-text {
  max-height: 3.2em;
  overflow: hidden;
  color: $grey;
  @include font-size(14);
}

.gallery-icon img {
  clear: both;
  margin: 0 auto 1.5em;
}

.meta {
  color: $grey;
  @include font-size(14);

  a {
    color: $grey-dark;
  }
}

.page-numbers {
  margin-left: 0;
  list-style: none;
  text-align: center;
  color: $grey;
  @include font-size(14);

  li {
    display: inline-block;
  }

  a {
    color: $grey-black;
  }

  .next,
  .prev {
    text-transform: lowercase;
    font-family: $secondary-font-stack;
    font-style: italic;
  }

  .page-numbers {
    padding: 10px;
  }
}
