.validation_message {
    margin-top: -8px;
    color: #ff0000;
    text-transform: uppercase;
    font-size: 12 / 16 * 1em;
}

.validation_error,
#gforms_confirmation_message {
    clear: both;
    overflow: hidden;
    margin: 0 0 1em -1em;
    padding: 1em;
    width: 100%;
    border: 1px solid #333;
    background: #eee;
    color: #fff;
}
.validation_error {
    border-color: #cc0000;
    background-color: #ff9e9e;
}
#gforms_confirmation_message {
    border-color: #005f10;
    background-color: #7cc187;
}