.validation_message {
  margin-top: calc-target(-8, 11);
  text-transform: uppercase;
  color: $ui-red;
  @include font-size(11);
}

.validation_error,
#gforms_confirmation_message {
  clear: both;
  margin: 0 0 1em;
  border: 1px solid $ui-blue;
  background: $ui-blue-light;
  padding: 1em;
  overflow: hidden;
  color: $ui-blue;
}

.validation_error {
  border-color: $ui-red;
  background-color: $ui-red-light;
  color: $ui-red;
}

#gforms_confirmation_message {
  border-color: $ui-green;
  background-color: $ui-green-light;
  color: $ui-green;
}

.gform_fields {
  margin: 0;
  list-style: none;

  .gfield {
    text-align: left;
  }
}

label .gfield_required {
  color: $red;
}

.ginput_container {
  > span {
    display: block;
    margin-bottom: calc-target(15);

    > label {
      color: $grey-light;
      font-weight: normal;
      @include font-size(12);
    }

    > input,
    select {
      margin-bottom: calc-target(4);
    }
  }
}

.gsection {
  padding-top: 40px;
}

ul.gfield_checkbox {
  margin-bottom: calc-target(20);
  margin-left: 0;
  list-style: none;

  label {
    font-weight: normal;
  }
}
