.list-widgets {
    margin: 0;
    > li {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid $grey;
        &:first-child {
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
    ul {
        margin-bottom: 1.5em;
        ul {
            margin: 0;
        }
    }
}