.ss-widgets-list {
  margin-left: 0;
  list-style: none;
}

.ss-widgets-list__item {
  margin-top: 1em;
  border-top: 1px solid $grey;
  padding-top: 1em;

  @include respond-to(480) {
    float: left;
    width: 50%;
    @include box-sizing;
  }

  @include respond-to(768) {
    float: none;
    width: 100%;
  }

  &:first-child {
    margin: 0;
    border: 0;
    padding: 0;
  }

  &.ss-widgets-list__item--2 {
    @include respond-to(480) {
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
    }

    @include respond-to(768) {
      margin-top: 1em;
      border-top: 1px solid $grey;
      padding-top: 1em;
    }
  }

  &.ss-widgets-list__item--odd {
    @include respond-to(480) {
      clear: left;
      padding-right: 10px;
    }

    @include respond-to(768) {
      padding-right: 0;
    }
  }

  &.ss-widgets-list__item--even {
    @include respond-to(480) {
      padding-left: 10px;
    }

    @include respond-to(768) {
      padding-left: 0;
    }
  }
}
