/*doc
---
title: Forms
name: 6-forms
category: Base CSS
---

Forms

*/

fieldset {
  margin: 0 0 1.5em;
}

legend {
  @extend .heading4;
}

label {
  @extend .heading5;
  display: block;
  cursor: pointer;
}

[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
[type=number],
textarea,
select {
  margin-bottom: calc-target(12);
  border: 1px solid $grey-light;
  border-radius: 0;
  background: $grey-white;
  padding: calc-target(10) calc-target(5);
  max-width: 100%;
  font-size: 1em;
  @include box-sizing;
}

[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
[type=number],
textarea {
  width: 100%;
  max-width: 480px;
  -webkit-appearance: none;
}

[type=checkbox],
[type=radio] {
  margin: 0 calc-target(10) calc-target(10) 0;

  + label {
    display: inline;
  }
}

[type=submit],
[type=button] {
  @extend [class*="ss-button"];
}

[type=submit]:hover,
[type=submit]:focus,
[type=button]:hover,
[type=button]:focus {
  @extend [class*="ss-button"]:hover;
}

[type=submit]:active,
[type=submit]:active,
[type=button]:active,
[type=button]:active {
  @extend [class*="ss-button"]:active;
}

textarea {
  height: 8em;
}
