.ss-button {
  @include button;

  &:hover,
  &:focus {
    @include button-hover;
  }

  &:active {
    @include button-hover;
  }

  &:disabled {
    cursor: default;
    outline: none;
    opacity: 0.5;
  }

  + [class*="ss-button"],
  + [class*="ss-text-button"] {
    margin-left: 10px;
  }
}

.ss-button--primary {
  background: $button-primary-background-color;
  color: $button-primary-text-color;
}

.ss-button--secondary {
  background: $button-secondary-background-color;
  color: $button-secondary-text-color;

  &:hover,
  &:focus {
    background: $button-background-color;
  }

  &:active {
    background: $button-alt-background-color;
  }
}

.ss-button--alt {
  background: $button-alt-background-color;
  color: $button-alt-text-color;
}

.ss-button--small {
  @include font-size(14);
}

.ss-button--large {
  @include font-size(24);
}

.ss-button--text {
  @include button-text;
}
