.wrapper {
  background: #fff;
  padding: 0 10px;
  @include box-sizing;

  @include respond-to(768) {
    padding: 0 20px;
  }

  @include respond-to(1280) {
    margin: 0 auto;
    max-width: 1280px;
  }
}

[class*="list-"] {
  margin-left: 0;
  list-style: none;
}
