.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1280px;
  @include box-sizing;

  @include respond-to(768) {
    padding: 0 20px;
  }
}

[class*="ss-list"] {
  margin-left: 0;
  list-style: none;
}
