.ss-page-content {
  position: relative;
  clear: both;
  padding-top: 40px;
}

@include respond-to(768) {
  .has-sidebar .ss-page-main {
    float: left;
    padding-right: 10px;
    width: 67%;
    @include box-sizing;
  }

  .ss-page-sidebar {
    float: right;
    padding-left: 10px;
    width: 33%;
    @include box-sizing;
  }
}

@include respond-to(1024) {
  .has-sidebar .ss-page-main {
    width: 75%;
  }

  .ss-page-sidebar {
    width: 25%;
  }
}

@include respond-to(1280) {
  .has-sidebar .ss-page-main {
    width: 80%;
  }

  .ss-page-sidebar {
    width: 20%;
  }
}
