.ss-page-footer {
  position: relative;
  background: $grey-light;
  padding: 30px 0;
  text-align: center;
}

.ss-list-footer-nav {
  ul {
    display: none;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 0 10px;
  }
}

.copyright {
  @include font-size(12);

  a {
    border-bottom: 1px solid;
    text-decoration: none;
    color: $blue-dark;

    &:hover,
    &:focus {
      border: 0;
    }
  }
}
