.ss-grid {
  clear: both;

  > .col {
    margin-bottom: 20px;
  }
}

@include respond-to(768) {
  .ss-grid {
    font-size: 0;

    > .col {
      display: inline-block;
      padding: 0 10px;
      vertical-align: top;
      font-size: #{$base-font-size}px; //overcome font-size 0 for inline block
      @include box-sizing;
    }

    > .col-1of2:nth-child(odd) {
      padding-left: 0;
    }

    > .col-1of2:nth-child(even) {
      padding-right: 0;
    }
  }

  .ss-grid-alt {
    overflow: hidden;

    > .col-1of2:nth-child(odd) {
      float: right;
      padding-right: 0;
      padding-left: 10px;
    }

    > .col-1of2:nth-child(even) {
      float: left;
      padding-right: 10px;
      padding-left: 0;
    }
  }

  .col-1of3 {
    width: 33.3%;
  }

  .col-1of4,
  .col-1of2 {
    width: 50%;
  }

  .col-2of3 {
    width: 66.6%;
  }

  .col-3of4 {
    width: 75%;
  }

  .col-2of4 {
    width: 100%;
  }
}

@include respond-to(1024) {
  .col-1of4 {
    width: 25%;
  }

  .col-2of4 {
    width: 50%;
  }
}
