.logo {
    width: #{$logo-width}px;
    height: #{$logo-height}px;
    @include respond-to(768) {
        width: #{$logo-desktop-width}px;
        height: #{$logo-desktop-height}px;
    }
}
a.logo {
    display: block;
    background: url('#{$imagePath}/layout/logo.png') no-repeat;
    text-indent: -500px;
    overflow: hidden;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        background: url('#{$imagePath}/layout/logo-retina.png') no-repeat;
        background-size: #{$logo-width}px #{$logo-height}px;
    }
    @include respond-to(768) {
        background: url('#{$imagePath}/layout/logo-desktop.png') no-repeat;
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            background: url('#{$imagePath}/layout/logo-desktop-retina.png') no-repeat;
            background-size: #{$logo-desktop-width}px #{$logo-desktop-height}px;
        }
    }
}
h1.logo {
    clear: both;
    margin: 0 auto 20px;
    @include respond-to(768) {
        float: left;
        clear: right;
    }
}
