*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  @include font-size($base-font-size, 16);
  overflow-y: scroll;
  box-sizing: border-box;
}

body {
  @include word-break();
  background: #fff;
  line-height: 1.6;
  color: $text-color;
  font-family: $primary-font-stack;
}
