table {
  margin-bottom: 1.5em;
  background: #fff;
  width: 100%;
}

th,
td {
  border: 1px solid $grey-light;
  padding: .5em;
  vertical-align: top;
  @include font-size(14);
}

tr:nth-child(even) {
  td {
    background: $grey-lightest;
  }
}
