html {
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #fff;
  line-height: 1.6;
  color: $text-color;
  font-family: $primary-font-stack;
  @include word-break();
  @include font-size($base-font-size, 16);
}
