img {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  }
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

iframe {
  max-width: 100%;
}
