img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    .lt-ie9 & {
        width: auto;
    }
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
iframe {
    max-width: 100%;
}