fieldset {
  margin: 0 0 20px;
  border: 0;
  padding: 0;
}

legend {
  @extend .heading5;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

label {
  @extend .ss-heading5;
  display: block;
  cursor: pointer;

  .required-true {
    color: $error-color;
  }
}

[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
[type=number],
textarea,
select {
  margin-bottom: calc-target(12);
  border: 1px solid $grey-light;
  border-radius: 0;
  background: $grey-white;
  padding: calc-target(10) calc-target(5);
  max-width: 100%;
  font-size: 1em;
  @include box-sizing;
}

[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
[type=number],
textarea {
  width: 100%;
  max-width: 480px;
  -webkit-appearance: none;
}

[type=checkbox],
[type=radio] {
  margin: 0 calc-target(10) calc-target(10) 0;

  + label {
    display: inline;
  }
}

[type=submit],
[type=button] {
  @extend [class*="ss-button"];
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

[type=submit]:hover,
[type=submit]:focus,
[type=button]:hover,
[type=button]:focus {
  @extend [class*="ss-button"]:hover;
}

[type=submit]:active,
[type=submit]:active,
[type=button]:active,
[type=button]:active {
  @extend [class*="ss-button"]:active;
}

textarea {
  height: 8em;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
