a {
  text-decoration: none;
  color: $link-color;

  &:focus {
    outline: thin dotted;
  }

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

button {
  cursor: pointer;
}
