.clearfix:after {
  display: table;
  clear: both;
  content: ' ';
}

.screenreaderonly,
.visually-hidden,
.visuallyhidden {
  @include visually-hidden;
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}

@include respond-to(768) {
  .mobile {
    display: none !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.ir {
  display: block;
  overflow: hidden;
  text-indent: -999px;
}
